
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-xing:before { content: '\f168'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
.icon-codepen:before { content: '\f32c'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */